<ct-section>
    <ct-section-header>
        <ct-section-header-row>
            <ct-heading>Upload SourceCode from file </ct-heading>
        </ct-section-header-row>
    </ct-section-header>
    <ct-section-body>
        <ct-section-body-row>
            <ct-file-upload (changed)="changed($event)" acceptTypes=".yml, .yaml"></ct-file-upload>
        </ct-section-body-row>
    </ct-section-body>
    <ct-section-footer>
        <ct-section-footer-row>

            <div class="flex justify-content-flex-end gap-8px">
                <button mat-stroked-button (click)="cancel()">Cancel</button>
                <button mat-flat-button="mat-flat-button"
    [disabled]="!file?.fileInput?.nativeElement?.files?.length" color="primary"
    (click)="upload()">Upload</button>
                </div>
        </ct-section-footer-row>
    </ct-section-footer>
</ct-section>