<ct-section *ngIf="accountsResult">
    <ct-section-header>
        <ct-section-header-row>
            <div class="flex justify-content-space-between">
                <ct-heading>Accounts</ct-heading>

                <ng-container *ngIf="!dispatcherAssetModeService.isReplicated(accountsResult.assetMode)">
  <ng-container *ngTemplateOutlet="addButtonTemplate"></ng-container>
</ng-container>

            </div>
        </ct-section-header-row>
        <ct-section-header-row *ngIf="dispatcherAssetModeService.isReplicated(accountsResult.assetMode)">
            <ct-alert theme="info">
                Management of accounts are disabled, assetMode is 'replicated'.
            </ct-alert>
        </ct-section-header-row>
    </ct-section-header>
    <ct-section-body>
        <ct-section-body-row>
            <ct-table [isWaiting]="isLoading">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID </th>
                        <td mat-cell *matCellDef="let el">{{el.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="isEnabled">
                        <th mat-header-cell *matHeaderCellDef>Is enabled </th>
                        <td mat-cell *matCellDef="let el">{{el.enabled ? 'Yes':'No'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="login">
                        <th mat-header-cell *matHeaderCellDef>Login </th>
                        <td mat-cell *matCellDef="let el">{{el.username}} </td>
                    </ng-container>
                    <ng-container matColumnDef="publicName">
                        <th mat-header-cell *matHeaderCellDef>Public name </th>
                        <td mat-cell *matCellDef="let el">{{el.publicName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef>Roles</th>
                        <td mat-cell *matCellDef="let el">{{el.roles}} </td>
                    </ng-container>
                    <ng-container matColumnDef="createdOn">
                        <th mat-header-cell *matHeaderCellDef>Created On </th>
                        <td mat-cell *matCellDef="let el">
                            {{el.createdOn | date:'HH:mm:ss, MMM&nbsp;d,&nbsp;yyyy'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="bts">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let el">
                            <div class="flex justify-content-flex-end gap-9px ngif-!dispatcherAssetModeService.isReplicated(accountsResult.assetMode)">
                                <a mat-flat-button size="forTableRow" [routerLink]="['../','account',el.id,'edit']"
    color="primary"> Edit</a>
                                <a mat-flat-button size="forTableRow"
    [routerLink]="['../','account',el.id,'edit-roles']" color="primary">Roles</a>
                                <a mat-flat-button size="forTableRow"
    [routerLink]="['../','account',el.id,'edit-password']" color="primary">
    Change Password</a>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"> </tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"> </tr>
                </table>
            </ct-table>
        </ct-section-body-row>
    </ct-section-body>
    <ct-section-footer>
        <ct-section-footer-row>
            <div class="flex justify-content-space-between">
                <div class="flex justify-content-flex-start gap-8px">
    <ct-table-pagination (prev)="prevPage()" (next)="nextPage()"
        [pageableDefault]="accountsResult.accounts"></ct-table-pagination>
</div>

                <ng-container *ngIf="!dispatcherAssetModeService.isReplicated(accountsResult.assetMode)">
  <ng-container *ngTemplateOutlet="addButtonTemplate"></ng-container>
</ng-container>

            </div>
        </ct-section-footer-row>
    </ct-section-footer>
</ct-section>


<ng-template #addButtonTemplate>
    <button mat-flat-button color="primary" [routerLink]="['../','account','add']">
        Add New Account
    </button>
</ng-template>