@if (response()) {
  <ct-cols>
    <ct-col size="6">
      <ct-section>
        <ct-section-header>
          <ct-section-header-row>
            <ct-heading>
              Account Role id {{response().account?.id }}, login {{response().account?.username}}
            </ct-heading>
          </ct-section-header-row>
        </ct-section-header>
        <ct-section-body>
          @if (roles().length > 0) {
            <ct-section-body-row style="font-size:125%;">
              @for (role of roles(); track role.role) {
                <ct-section-content>
                  <mat-checkbox
                    [ngModel]="role.enabled"
                    (ngModelChange)="toggleRole(role, $event)">
                    {{role.displayName}}
                  </mat-checkbox>
                </ct-section-content>
              }
            </ct-section-body-row>
          }
        </ct-section-body>
        <ct-section-footer>
          <ct-section-footer-row>
            <div class="flex justify-content-flex-end gap-8px">
              <button mat-stroked-button (click)="back()">Cancel</button>
              <button mat-flat-button color="primary" (click)="save()">Save</button>
            </div>
          </ct-section-footer-row>
        </ct-section-footer>
      </ct-section>
    </ct-col>
  </ct-cols>
}
