<ct-section>
    <ct-section-header>
        <ct-section-header-row>
            <ct-flex justify-content="space-between">
                <ct-flex-item>
                    <ct-heading>Functions</ct-heading>
                </ct-flex-item>
                <ct-flex-item>
                    <ct-flex justify-content="flex-end" align-items="center" gap="16px">
                        <ct-flex-item>
                            <mat-slide-toggle [(ngModel)]="showParams">Show Params</mat-slide-toggle>
                        </ct-flex-item>
                        <ct-flex-item>
                            <a routerLink="/dispatcher/functions/add">
                                <button mat-flat-button="mat-flat-button" color="primary" [disabled]="currentState.has(states.loading)">Add Function</button>
                            </a>
                        </ct-flex-item>
                    </ct-flex>
                </ct-flex-item>
            </ct-flex>
        </ct-section-header-row>
    </ct-section-header>
    <ct-section-body>
        <ct-section-body-row *ngIf="currentState.has(states.loading)">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ct-section-body-row>
        <ct-section-body-row *ngIf="currentState.has(states.show)">
            <ct-table>
                <table class="mat-table" mat-table="mat-table" [dataSource]="dataSource" multiTemplateDataRows="multiTemplateDataRows">
                    <ng-container matColumnDef="code">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef>Code</th>
                        <td mat-cell="mat-cell" *matCellDef="let el">{{el.code}}</td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef>Type</th>
                        <td mat-cell="mat-cell" *matCellDef="let el">{{el.type}}</td>
                    </ng-container>
                    <ng-container matColumnDef="params">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef>Params</th>
                        <td mat-cell="mat-cell" *matCellDef="let el">
                            <div [hidden]="!showParams">
                                <ct-pre>{{el.params}}</ct-pre>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="bts">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef></th>
                        <td mat-cell="mat-cell" *matCellDef="let el">
                            <ct-flex justify-content="flex-end" gap="8px">
                                <ct-flex-item>
                                    <button mat-flat-button="mat-flat-button" color="warn" size="forTableRow" (click)="delete(el)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </ct-flex-item>
                            </ct-flex>
                        </td>
                    </ng-container>
                    <tr mat-header-row="mat-header-row" *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row="mat-row" *matRowDef="let row; columns: columnsToDisplay;" [class.deleted-table-row]="deletedRows.includes(row)"></tr>
                </table>
            </ct-table>
        </ct-section-body-row>
    </ct-section-body>
    <ct-section-footer>
        <ct-section-footer-row>
            <ct-flex justify-content="space-between">
                <ct-flex-item>
                    <ct-flex justify-content="space-between" gap="8px">
                        <ct-flex-item>
                            <button mat-flat-button="mat-flat-button" #prevTable (click)="prev()" disabled="disabled">
                                <mat-icon>arrow_back_ios</mat-icon>
                            </button>
                        </ct-flex-item>
                        <ct-flex-item>
                            <button mat-flat-button="mat-flat-button" #nextTable (click)="next()" disabled="disabled">
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                        </ct-flex-item>
                    </ct-flex>
                </ct-flex-item>
                <ct-flex-item>
                    <a routerLink="/dispatcher/functions/add">
                        <button mat-flat-button="mat-flat-button" color="primary" [disabled]="currentState.has(states.loading)">Add Function</button>
                    </a>
                </ct-flex-item>
            </ct-flex>
        </ct-section-footer-row>
    </ct-section-footer>
</ct-section>