<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="sidenavOpened()">
    <div class="navigation">

      @if (
        isRole.MasterAssetManager ||
        isRole.Admin ||
        isRole.Data ||
        isRole.Manager
        ) {
        <button
          mat-button
          routerLinkActive="active"
          routerLink="/dispatcher/source-codes">
          {{ 'dispatcher.SourceCodes' | translate }}
        </button>
      }

      @if (
        isRole.Admin ||
        isRole.Data
        ) {
        <button
          mat-button
          routerLinkActive="active"
          routerLink="/dispatcher/global-variables">
          {{ 'dispatcher.Variables' | translate }}
        </button>
      }

      @if (
        isRole.MasterAssetManager ||
        isRole.Admin ||
        isRole.Data
        ) {
        <button
          mat-button
          routerLinkActive="active"
          routerLink="/dispatcher/functions">
          {{ 'dispatcher.Functions' | translate }}
        </button>
      }

      @if (
        isRole.Admin ||
        isRole.Data
        ) {
        <button
          mat-button
          routerLinkActive="active"
          routerLink="/dispatcher/processors">
          {{ 'dispatcher.Processors' | translate }}
        </button>
      }

      @if (
        isRole.Admin
        ) {
        <button
          mat-button
          routerLinkActive="active"
          routerLink="/dispatcher/accounts">
          {{ 'dispatcher.Accounts' | translate }}
        </button>
      }

      @if (
        isRole.MasterAdmin ||
        isRole.MasterOperator ||
        isRole.MasterSupport
        ) {
        <button
          mat-button
          routerLinkActive="active"
          routerLink="/dispatcher/company/companies">
          {{ 'dispatcher.Company' | translate }}
        </button>
      }

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ct-content>
      <router-outlet></router-outlet>
      <ct-back-button></ct-back-button>
      <copy-right></copy-right>
    </ct-content>
  </mat-sidenav-content>
</mat-sidenav-container>