@import "../scenario.sass";

.mat-mdc-form-field {
  margin-right: 4px;
}

.mat-tree {
  padding-bottom: 15px;
}

.mat-tree-node {
  min-height: 20px;
  padding: 5px;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  width: 32px;
  height: 32px;
  padding: 6px;
}


.background-highlight {
  background-color: $color-table-row-selected;
}
