
@use '../../../../variables' as *;

:host {
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

:host[size="xx-large"] {
    line-height: calcUnit(5);
    font-size: calcUnit(5);
}

:host[size="x-large"] {
    line-height: calcUnit(4);
    font-size: calcUnit(4);
}

:host {
    line-height: calcUnit(3);
    font-size: calcUnit(3);
}

:host[size="x-small"] {
    line-height: calcUnit(2);
    font-size: calcUnit(2);
}

:host[size="xx-small"] {
    line-height: calcUnit(1);
    font-size: calcUnit(1);
}