@use 'sass:math';
@use '../../../../variables' as *;

:host {
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

:host[size="xx-large"] {
    line-height: math.unit(5);
    font-size: math.unit(5);
}

:host[size="x-large"] {
    line-height: math.unit(4);
    font-size: math.unit(4);
}

:host {
    line-height: math.unit(3);
    font-size: math.unit(3);
}

:host[size="x-small"] {
    line-height: math.unit(2);
    font-size: math.unit(2);
}

:host[size="xx-small"] {
    line-height: math.unit(1);
    font-size: math.unit(1);
}