
<ct-cols align-items="baseline">
    <ct-col size="6">
        <ct-section>
            <ct-section-header>
                <ct-section-header-row>
                    <ct-heading>Change password</ct-heading>
                </ct-section-header-row>
            </ct-section-header>
            <ct-section-body>
                <form [formGroup]="passwordForm" novalidate="novalidate">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Old password, required</mat-label>
                        <input matInput="matInput" type="password" autocomplete="off" formControlName="oldPassword" />
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>A new password, required</mat-label>
                        <input matInput="matInput" type="password" autocomplete="off" formControlName="newPassword" />
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Re-enter a new password, required.</mat-label>
                        <input matInput="matInput" type="password" autocomplete="off" formControlName="newPassword2" />
                    </mat-form-field>
                </form>
            </ct-section-body>

            <ct-section-footer>
                <ct-section-footer-row>
                    <ct-flex justify-content="flex-end" gap="8px">
                        <ct-flex-item>
                            <button mat-stroked-button="mat-stroked-button" routerLink="/settings">
                                {{ 'main.Cancel' | translate }}</button>
                        </ct-flex-item>
                        <ct-flex-item>
                            <button #button mat-flat-button="mat-flat-button" (click)="create()" color="primary"
                                    [disabled]="notToCreate()">{{ 'main.Change' | translate }}</button>
                        </ct-flex-item>
                    </ct-flex>
                </ct-section-footer-row>
            </ct-section-footer>
        </ct-section>
    </ct-col>
</ct-cols>

