
<ct-cols align-items="baseline">
    <ct-col size="6">
        <ct-section>
            <ct-section-header>
                <ct-section-header-row>
                    <ct-heading>Change password</ct-heading>
                </ct-section-header-row>
            </ct-section-header>
            <ct-section-body>
                <form [formGroup]="tokenForm" novalidate="novalidate">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Name of token, required</mat-label>
                        <input matInput="matInput" type="text" autocomplete="off" formControlName="oldPassword" />
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Value of token, required</mat-label>
                        <input matInput="matInput" type="text" autocomplete="off" formControlName="newPassword" />
                    </mat-form-field>
                    <br>
                </form>
            </ct-section-body>

            <ct-section-footer>
                <ct-section-footer-row>
                    <ct-flex justify-content="flex-end" gap="8px">
                        <ct-flex-item>
                            <button mat-stroked-button="mat-stroked-button" routerLink="/settings">
                                {{ 'main.Cancel' | translate }}</button>
                        </ct-flex-item>
                        <ct-flex-item>
                            <button #button mat-flat-button="mat-flat-button" (click)="create()" color="primary"
                                    [disabled]="notToCreate()">{{ 'main.Change' | translate }}</button>
                        </ct-flex-item>
                    </ct-flex>
                </ct-section-footer-row>
            </ct-section-footer>
        </ct-section>
    </ct-col>
</ct-cols>


<div class="container">

    <form  class="mt-3" (ngSubmit)="addToken()" ngNativeValidate>
        <div class="form-row">
            <div class="form-group col-md-5">
                <input id="name" name="name" type="text" class="form-control" placeholder="First Name" [(ngModel)] = 'token.name' required />
            </div>
            <div class="form-group col-md-5">
                <input id="value" name="value" type="text" class="form-control" placeholder="Last Name" [(ngModel)] = 'token.value' required />
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>

    <div class="table-responsive-sm">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let u of _tokens.reverse(); let i = index">
                <tr>
                    <td>{{ u.name }}</td>
                    <td>{{ u.value }}</td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>

</div>
