<div *ngIf="serverReady(); then serverReadyTemplate else serverNotReadyTemplate">here is ignored</div>
<ng-template #serverReadyTemplate>
    <ct-content>
        <ct-cols>
            <ct-col size="1"></ct-col>
            <ct-col size="10">
                <ct-section>
                    <ct-section-body>
                        <ct-section-body-row>
                            <ct-env-msg-outer propertyName="brandingMsgIndex"></ct-env-msg-outer>
                        </ct-section-body-row>
                    </ct-section-body>
                </ct-section>
            </ct-col>
        </ct-cols>
    </ct-content>
</ng-template>

<ng-template #serverNotReadyTemplate>
    <div class="flex justify-content-center align-items-center">
        <ct-section style="width: 500px; margin-top: 15px;">
    <ct-section-body>
        <ct-section-body-row>
            <div class="flex justify-content-center align-items-center">
                                    <button mat-flat-button *ngIf="!error" color="warn">Metaheuristic is initializing. Please, wait.</button>
                    <button mat-flat-button *ngIf="error" color="warn">Metaheuristic failed to start. Try to re-launch it.</button>
                        </div>
                    </ct-section-body-row>
                    <ct-section-body-row *ngIf="isStandalone()">
                        <table class="mat-table" mat-table [dataSource]="mhStatusesAsMatTableDataSource$ | async">
                            <ng-container matColumnDef="stage">
                                <th mat-header-cell *matHeaderCellDef>stage</th>
                                <td mat-cell *matCellDef="let element">{{ element.stage }}</td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div class="flex justify-content-center align-items-center">
                                        status
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="flex justify-content-center align-items-center">
                                        <div matTooltip="{{ element.status }}" class="dot-flashing" *ngIf="isStarted(element)"></div>
<mat-icon  matTooltip="{{ element.status }}" *ngIf="isNone(element)" color="primary">minimize</mat-icon>
<mat-icon  matTooltip="{{ element.status }}" *ngIf="isDone(element)" color="primary">done</mat-icon>
<mat-icon  matTooltip="{{ element.status }}" *ngIf="isError(element)" color="warn">error</mat-icon>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
                        </table>
                    </ct-section-body-row>
                    <ct-section-body-row *ngIf="!error && isStandalone()">
                        <div>No any errors at this time.</div>
                    </ct-section-body-row>
                    <ct-section-body-row *ngIf="error && isStandalone()">
                        <div class="flex justify-content-center align-items-center gap-20px">
                            An error was encountered:
                            <button mat-icon-button color="warn" (click)="copyErrorToClipboard()" matTooltip="Copy error to clipboard">
    <mat-icon>content_copy</mat-icon>
</button>
                        </div>
                    </ct-section-body-row>
                    <ct-section-body-row *ngIf="error && isStandalone()">
                        <div>{{error}}</div>
                    </ct-section-body-row>
                </ct-section-body>
            </ct-section>
    </div>

</ng-template>


<copy-right></copy-right>