//@use 'three-dots' with (
//    $dot-width: 10px,
//    $dot-height: 10px,
//    $dot-color: #c22525
//);
//https://github.com/nzbin/three-dots

/*
table {
  width: min-content;

  & th {
    font-weight: bold;
    font-size: 120%;
  }
}

.mat-column-code {
  flex: none;
  width: 100px;
  padding: 1rem;
}
.mat-column-state {
  flex: none;
  width: 100px;
  padding: 1rem;
}
*/


/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #c22525;
  color: #c22525;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #c22525;
  color: #c22525;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #c22525;
  color: #c22525;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #c22525;
  }
  50%, 100% {
    background-color: rgba(255, 0, 0, 0.2);
  }
}
