<ct-cols>
    <ct-col size="6">
        <card-form-add-source-code (abort)="back()" (responseChange)="afterNewSourceCode($event)">
        </card-form-add-source-code>
    </ct-col>
    <ct-col size="6">
        <ct-rest-status class="addRestStatus" [content]="newSourceCodeResponse"></ct-rest-status>
    </ct-col>
</ct-cols>

<hr>

<ct-cols>
    <ct-col size="6">
        <card-form-upload-source-code (abort)="back()" (responseChange)="afterUploadSourceCode($event)">
        </card-form-upload-source-code>
    </ct-col>
    <ct-col size="6">
        <ct-rest-status class="uploadRestStatus" [content]="uploadSourceCodeResponse"></ct-rest-status>
    </ct-col>
</ct-cols>