
<ct-cols>
  <ct-col size="6">
    <ct-section>
      <ct-section-header>
        <ct-section-header-row>
          <ct-heading>New Source Code</ct-heading>
        </ct-section-header-row>
      </ct-section-header>
      <ct-section-body>
        <form [formGroup]="form" novalidate="novalidate">
          <ct-section-body-row>
            <mat-form-field appearance="outline">
              <mat-label>Parameters of source code</mat-label>
              <textarea formControlName="sourceCodeYaml" matInput="matInput" cdkTextareaAutosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" value="" autocomplete="off"></textarea>
              <mat-hint>This is a required field.</mat-hint>
            </mat-form-field>
          </ct-section-body-row>
        </form>
      </ct-section-body>
      <ct-section-footer>
        <ct-section-footer-row>
          <ct-flex justify-content="flex-end" gap="8px">
            <ct-flex-item>
              <button mat-stroked-button="mat-stroked-button" (click)="cancel()">Back </button>
            </ct-flex-item>
            <ct-flex-item>
              <button #submitButton mat-flat-button="mat-flat-button" (click)="create()" color="primary" [disabled]="!form.valid">Add</button>
            </ct-flex-item>
          </ct-flex>
        </ct-section-footer-row>
      </ct-section-footer>
    </ct-section>
  </ct-col>
  <ct-col size="6" *ngIf="response">
    <ct-section>
      <ct-section-body>
        <ct-section-body-row>
          <div>STATUS: {{response.status}}</div>
          <p *ngFor="let error of response.errorMessages; index as i; trackBy: trackByFn">{{error}}</p>
          <p *ngFor="let info of response.infoMessages; index as i; trackBy: trackByFn">{{info}}</p>
        </ct-section-body-row>
      </ct-section-body>
    </ct-section>
  </ct-col>
</ct-cols>