//- TODO fix translate names
button(*ngIf="accessPlans()" class="mat-button" mat-button size="forNavigation" routerLinkActive="active" routerLink="/launchpad/plans")  {{ 'nav-launchpad.Plans' | translate }}

button(*ngIf="accessBatch()" class="mat-button" mat-button size="forNavigation" routerLinkActive="active" routerLink="/launchpad/batch") {{ 'nav-launchpad.Batch' | translate }}

button(*ngIf="accessExperiments()" class="mat-button" mat-button size="forNavigation" routerLinkActive="active" routerLink="/launchpad/experiments") {{ 'nav-launchpad.Experiments' | translate }}

button(*ngIf="accessAtlas()" class="mat-button" mat-button size="forNavigation" routerLinkActive="active" routerLink="/launchpad/atlas/experiments") {{ 'nav-launchpad.Atlas' | translate }}

button(*ngIf="accessResourses()" class="mat-button" mat-button size="forNavigation" routerLinkActive="active" routerLink="/launchpad/resources") {{ 'nav-launchpad.Resources' | translate }}

button(*ngIf="accessSnippets()" class="mat-button" mat-button size="forNavigation" routerLinkActive="active" routerLink="/launchpad/snippets") {{ 'nav-launchpad.Snippets' | translate }}

button(*ngIf="accessStations()" class="mat-button" mat-button size="forNavigation" routerLinkActive="active" routerLink="/launchpad/stations") {{ 'nav-launchpad.Stations' | translate }}

button(*ngIf="accessAccounts()" class="mat-button" mat-button size="forNavigation" routerLinkActive="active" routerLink="/launchpad/accounts") {{ 'nav-launchpad.Accounts' | translate }}

