<ct-cols align-items="baseline" *ngIf="dataSourceEmpty()" style="width: 100%;">
    <ct-col style="width: 80%;">
        <ct-section>
            <ct-section-header>
                <ct-section-header-row>
                    <ct-heading>Add the first step of Scenario</ct-heading>
                </ct-section-header-row>
            </ct-section-header>
            <ct-section-body>
                <form [formGroup]="form" #formDirective="ngForm"  novalidate="novalidate">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Prompt name, min 5 chars</mat-label>
                        <input matInput #itemValue type="text" autocomplete="off" formControlName="name" />
                        <mat-hint>This is a required field.</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Prompt, min 5 chars</mat-label>
                        <textarea formControlName="prompt" matInput="matInput" cdkTextareaAutosize="cdkTextareaAutosize"
                                  cdkAutosizeMinRows="10" value="" autocomplete="off"></textarea>
                        <mat-hint>This is a required field.</mat-hint>
                    </mat-form-field>
                </form>
            </ct-section-body>
            <ct-section-footer>
                <ct-section-footer-row>
                    <ct-flex justify-content="flex-end" gap="8px">
                        <ct-flex-item>
                            <button #button mat-flat-button="mat-flat-button" (click)="createFirstDetail(formDirective)" color="primary"
                                    [disabled]="!form.valid">Create</button>
                        </ct-flex-item>
                    </ct-flex>
                </ct-section-footer-row>
            </ct-section-footer>
        </ct-section>
    </ct-col>
</ct-cols>


<mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl" cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding
                   cdkDrag [cdkDragData]="node" (mouseenter)="dragHover(node)"
                   (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd()">
        <button mat-icon-button disabled></button>

        <ct-cols style="width: 100%;">
            <ct-col style="width: 80%;">
                <ct-section>
                    <ct-section-header>
                        <ct-section-header-row>
                            <ct-heading>New step</ct-heading>
                        </ct-section-header-row>
                    </ct-section-header>
                    <ct-section-body>
                        <ct-section-body-row>
                            <form [formGroup]="form" #formDirective="ngForm"  novalidate="novalidate">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Prompt name, min 5 chars</mat-label>
                                    <input matInput #itemValue type="text" autocomplete="off" formControlName="name" />
                                    <mat-hint>This is a required field.</mat-hint>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Prompt, min 5 chars</mat-label>
                                    <textarea formControlName="prompt" matInput="matInput" cdkTextareaAutosize="cdkTextareaAutosize"
                                              cdkAutosizeMinRows="10" value="" autocomplete="off"></textarea>
                                    <mat-hint>This is a required field.</mat-hint>
                                </mat-form-field>
                            </form>
                        </ct-section-body-row>
                    </ct-section-body>
                    <ct-section-footer>
                        <ct-section-footer-row>
                            <ct-flex justify-content="flex-end" gap="8px">
                                <ct-flex-item>
                                    <button mat-flat-button color="primary" size="forTableRow" (click)="saveNode(node, itemValue.value, formDirective)" [disabled]="!form.valid">
                                        Create</button>
                                </ct-flex-item>
                                <ct-flex-item>
                                    <button mat-flat-button color="accent" size="forTableRow" (click)="deleteNewNode(node, formDirective)">
                                        Cancel</button>
                                </ct-flex-item>
                            </ct-flex>
                        </ct-section-footer-row>
                    </ct-section-footer>
                </ct-section>
            </ct-col>
        </ct-cols>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasNewNodePresent" matTreeNodeToggle matTreeNodePadding
                   cdkDrag [cdkDragData]="node" (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()"
                   (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd()">
        <button mat-icon-button
                matTreeNodeToggle (click)="expansionModel.toggle(node.id)"
                [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        {{node.filename}} : {{node.type}}
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasNewNodeAbsent" matTreeNodeToggle matTreeNodePadding
                   cdkDrag [cdkDragData]="node" (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()"
                   (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd()">
        <button mat-icon-button
                matTreeNodeToggle (click)="expansionModel.toggle(node.id)"
                [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        {{node.filename}} : {{node.type}}
        <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
    </mat-tree-node>
</mat-tree>


<ng-template #promptForm>
    <form [formGroup]="form" #formDirective="ngForm"  novalidate="novalidate">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Prompt name, min 5 chars</mat-label>
            <input matInput #itemValue type="text" autocomplete="name" formControlName="name" />
            <mat-hint>This is a required field.</mat-hint>
        </mat-form-field>
    </form>
<!--
    <form [formGroup]="form" #formDirective="ngForm" novalidate="novalidate">
        <ct-section-content>
            <mat-form-field appearance="outline">
                <mat-label>Prompt name, min 5 chars</mat-label>
                <input matInput #itemValue type="text" autocomplete="name" formControlName="name" />
                <mat-hint>This is a required field.</mat-hint>
            </mat-form-field>
        </ct-section-content>
    </form>
-->

</ng-template>
