.mat-mdc-form-field {
  margin-right: 4px;
}

.mat-tree {
  padding-top: 15px;
}

.mat-tree-node {
  min-height:20px;
  padding-bottom: 15px;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  width: 32px;
  height: 32px;
  padding: 6px
}