    <b>Settings for Metaheuristic</b>
    <ul>
        <li>
            <p>Security</p>
            <p>You can change your password here.</p>
        </li>
        <li>
            <p>Tokens</p>
            <p>For using MHBP with LLMs (i.e. ChatGPT) you need to specify an access tokens, which are provided by API publisher.
            Name of token must be the same as specified in authentication config.</p>
            <p>For pre-defined config for interacting with OpenAI's API, the name of token must be OPENAI_API_KEY.</p>
            <p>There is a distinct field for OPENAI_API_KEY.</p>
            <p>For a custom authentication config name of token can be any but must not start with prefix MH_.</p>
        </li>
        <li>
            <p>Languages</p>
            <p>Here you can change the current language of UI.</p>
        </li>
    </ul>
