    <b>Settings for Metaheuristic</b>
    <ul>
        <li>
            <p>Security</p>
            <p>You can change your password here.</p>
        </li>
        <li>
            <p>Tokens</p>
            <p>For using MHBP with LLMs (i.e. ChatGPT) you can specify your tokens, which are provided by API publisher.
            Name of token can be any but we recommend the following scheme:</p>
            <p>&lt;PROVIDER_NAME&gt;_API_TOKEN , i.e. OPENAI_API_TOKEN</p>
        </li>
        <li>
            <p>Languages</p>
            <p>Here you can change the current language of UI.</p>
        </li>
    </ul>
