div(*ngIf="response")
    ct-section
        ct-section-header
            ct-section-header-row
                ct-flex(justify-content="flex-start" align-items="center"  gap="unit(2)")
                    ct-flex-item: button(mat-fab color="primary" routerLink="/launchpad/experiments/{{experimentId}}/info")
                        mat-icon navigate_before
                    ct-flex-item: ct-heading The Experiment Info
    include general-info.partial.pug
    
    experiment-metrics('[metricsResult]'="metricsResult" '[dataGraph]'="dataGraph" '[canDraw]'="canDraw" '(draw)'="drawPlot()")
    experiment-tasks('[tasks]'="tasks")
