<ct-section *ngIf="!batchDataStatus">
    <ct-section-body>
        <ct-section-body-row>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ct-section-body-row>
    </ct-section-body>
</ct-section>

<ct-section *ngIf="batchDataStatus">
    <ct-section-header>
        <ct-section-header-row>
            <ct-heading>Batch #{{batchDataStatus.batchId}}</ct-heading>
        </ct-section-header-row>
    </ct-section-header>
    <ct-section-body>
        <ct-section-body-row>
            <ct-pre>{{batchDataStatus.console}}</ct-pre>
        </ct-section-body-row>
    </ct-section-body>
</ct-section>