<ct-cols *ngIf="processorResponse">
    <ct-col size="6">
        <ct-section>
            <ct-section-header>
                <ct-section-header-row>
                    <ct-heading>Edit Processor {{processor ? processor.id : '...'}}</ct-heading>
                </ct-section-header-row>
            </ct-section-header>
            <ct-section-body>
                <ct-section-body-row>
                    <ct-section-content>
                        <mat-form-field appearance="outline">
                            <mat-label>Description </mat-label>
                            <textarea matInput="matInput" [(ngModel)]="processor.description" value=""
                                cdkTextareaAutosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"> </textarea>
                        </mat-form-field>
                    </ct-section-content>
                </ct-section-body-row>
            </ct-section-body>
            <ct-section-footer>
                <ct-section-footer-row>
                    <ct-flex justify-content="flex-end" gap="8px">
                        <ct-flex-item>
                            <button mat-stroked-button="mat-stroked-button" (click)="back()">Cancel</button>
                        </ct-flex-item>
                        <ct-flex-item>
                            <button mat-flat-button="mat-flat-button" (click)="save()" color="primary">Save</button>
                        </ct-flex-item>
                    </ct-flex>
                </ct-section-footer-row>
            </ct-section-footer>
        </ct-section>
    </ct-col>
    <ct-col size="6">
        <ct-rest-status [content]="processorResponse"></ct-rest-status>
    </ct-col>
</ct-cols>