<ct-content>
    <ct-cols>
        <ct-col size="1"></ct-col>
        <ct-col size="10">
            <ct-section>
                <ct-section-header>
                    <ct-section-header-row>
                        <ct-heading>Lorem Index</ct-heading>
                    </ct-section-header-row>
                </ct-section-header>
                <ct-section-body>
                    <ct-section-body-row > 
                        <div [innerHtml]="content"></div>
                    </ct-section-body-row>
                </ct-section-body>
            </ct-section>
        </ct-col>
    </ct-cols>
</ct-content>
<copy-right></copy-right>