<ct-cols>
    <ct-col size="6">
        <card-form-add-variable (afterResponse)="updateStatusAfterAddVarible($event)"></card-form-add-variable>
    </ct-col>
    <ct-col size="6">
        <ct-rest-status [content]="addVariableResponse"></ct-rest-status>
    </ct-col>
</ct-cols>
<hr>
<ct-cols>
    <ct-col size="6">
        <card-form-add-variable-with-storage></card-form-add-variable-with-storage>
    </ct-col>
    <ct-col size="6">
        <ct-rest-status [content]="addVariableStorageResponse"></ct-rest-status>
    </ct-col>
</ct-cols>