<ct-section *ngIf="chats">
    <ct-section-header>
        <ct-section-header-row>
            <ct-flex justify-content="space-between">
                <ct-flex-item>
                    <ct-heading>Chats</ct-heading>
                </ct-flex-item>
                <ct-flex-item justify-content="flex-end">
                    <button mat-icon-button color="primary"
                            routerLink="chat-add"><mat-icon>note_add</mat-icon></button>
                </ct-flex-item>
            </ct-flex>
        </ct-section-header-row>
    </ct-section-header>
    <ct-section-body>
        <ct-section-body-row>
            <ct-table [isWaiting]="isLoading">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID </th>
                        <td mat-cell *matCellDef="let el">{{el.chatId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="createdOn">
                        <th mat-header-cell *matHeaderCellDef>Created On </th>
                        <td mat-cell *matCellDef="let el">
                            {{el.createdOn | date:'MMM&nbsp;d,&nbsp;yyyy, HH:mm'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let el">{{el.name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="bts">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let el">
                            <ct-flex justify-content="flex-end" gap="8px">
                                <ct-flex-item>
                                    <button mat-icon-button color="primary"
                                            [routerLink]="['..', 'chat', el.chatId]" matTooltip="Continue chat">
                                        <mat-icon>edit_document</mat-icon>
                                    </button>
                                    <!--
                                                                        <button mat-icon-button color="primary"
                                                                                [routerLink]="['../..', scenarioGroupId, 'scenario', el.scenarioId, 'move']" matTooltip="Move to another group">
                                                                            <mat-icon>forward</mat-icon>
                                                                        </button>
                                    -->
                                    <button mat-icon-button color="warn" size="forTableRow" (click)="delete(el)" matTooltip="Delete chat">
                                        <mat-icon>delete_forever</mat-icon>
                                    </button>
                                </ct-flex-item>
                            </ct-flex>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"> </tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"> </tr>
                </table>
            </ct-table>
        </ct-section-body-row>
    </ct-section-body>
    <ct-section-footer>
        <ct-section-footer-row>
            <ct-flex justify-content="space-between">
                <ct-flex-item>
                    <ct-flex justify-content="flex-start" gap="8px">
                        <ct-table-pagination (prev)="prevPage()" (next)="nextPage()"
                                             [pageableDefault]="chats.chats"></ct-table-pagination>
                    </ct-flex>
                </ct-flex-item>
            </ct-flex>
        </ct-section-footer-row>
    </ct-section-footer>
</ct-section>
