@use 'sass:math';
@use "../../../../variables" as *;

:host{
    display: block;
    background: white;
    border-radius: math.unit(0.5);
    margin: math.unit(0);
    margin-bottom: math.unit(3);
    padding-top: math.unit(2);
    padding-bottom: math.unit(3);
    box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.025), 0px 1px 0px 0px rgba(0,0,0,0.05);
    &[mode=card]{
        display: inline-block;
        max-width: 100%;
    }
}

:host([inline]){
    display: inline-block;
    vertical-align: top;
    margin-right: math.unit(3);

}

:host:last-child {
    margin-bottom: 0;
}

// TODO replace color with theme pallete
:host-context(.dark-theme){
    background: rgba(64,64,64,1);
}