<ct-section *ngIf="simpleKbsResult">
    <ct-section-header>
        <ct-section-header-row>
            <div class="flex justify-content-space-between">
                <ct-heading>Knowledge Bases</ct-heading>
            </div>
            <div class="flex justify-content-space-between">
                <mat-slide-toggle [(ngModel)]="expandParams">
                    Expand params
                </mat-slide-toggle>
                <button mat-flat-button color="primary" routerLink="add">Add KB</button>
            </div>
        </ct-section-header-row>
    </ct-section-header>
    <ct-section-body>
        <ct-section-body-row>
            <ng-container *ngTemplateOutlet="mainTableTemplate"></ng-container>
        </ct-section-body-row>
    </ct-section-body>
    <ct-section-footer>
        <ct-section-footer-row>
            <div class="flex justify-content-space-between">
                <ct-table-pagination
                        [pageableDefault]="simpleKbsResult.kbs"
                        [globalDisable]="isLoading"
                        (next)="nextPage()"
                        (prev)="prevPage()">
                </ct-table-pagination>
            </div>
        </ct-section-footer-row>
    </ct-section-footer>
</ct-section>

<ng-template #mainTableTemplate>
    <ct-table [isWaiting]="isLoading">
        <table class="mat-table" mat-table="mat-table" [dataSource]="dataSource" multiTemplateDataRows="multiTemplateDataRows">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell="mat-cell" *matCellDef="let el">{{el.id}} </td>
            </ng-container>
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef>{{ 'kb.code' | translate }}</th>
                <td mat-cell="mat-cell" *matCellDef="let el">{{el.code}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell="mat-cell" *matCellDef="let el">{{el.status}} </td>
            </ng-container>
            <ng-container matColumnDef="bts">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let el">
                    <div class="flex justify-content-flex-end gap-8px" *ngIf="el.editable">
                        <button *ngIf="false" mat-flat-button size="forTableRow"
                                [routerLink]="['/dispatcher/kb/edit/',el.id]" color="primary">
                            Edit</button>
                        <button mat-flat-button size="forTableRow" (click)="initKb(el)" color="primary">
                            Init
                        </button>
                        <button mat-flat-button color="warn" size="forTableRow" (click)="delete(el)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="empty">
                <td mat-cell *matCellDef="let el"> </td>
            </ng-container>
            <ng-container matColumnDef="params">
                <td mat-cell *matCellDef="let el" [attr.colspan]="columnsToDisplay.length - 1">
                    <b>Params:</b>
                    <ct-pre-10px>{{el.params || '—'}} </ct-pre-10px>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr class="first-row" mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            <tr class="second-row" mat-row *matRowDef="let row; columns: secondColumnsToDisplay;" [hidden]="!expandParams"></tr>
        </table>
    </ct-table>
</ng-template>


