<ct-section *ngIf="accountsResult">
    <ct-section-header>
        <ct-section-header-row>
            <ct-heading>
                Accounts
            </ct-heading>
        </ct-section-header-row>

        <ng-container *ngIf="dispatcherAssetModeService.isReplicated(accountsResult.assetMode)">
            <ct-section-header-row>
                <ct-alert theme="info">Creating and editing of accounts are disabled, assetMode is 'replicated'.
                </ct-alert>
            </ct-section-header-row>
        </ng-container>
    </ct-section-header>

    <ct-section-body>
        <ct-section-body-row>
            <ct-table [isWaiting]="isLoading">
                <table class="mat-table" mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID </th>
                        <td mat-cell *matCellDef="let el">{{el.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="isEnabled">
                        <th mat-header-cell *matHeaderCellDef>Is enabled </th>
                        <td mat-cell *matCellDef="let el">{{el.enabled ? 'Yes':'No'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="login">
                        <th mat-header-cell *matHeaderCellDef>Login </th>
                        <td mat-cell *matCellDef="let el">{{el.username}} </td>
                    </ng-container>
                    <ng-container matColumnDef="publicName">
                        <th mat-header-cell *matHeaderCellDef>Public name </th>
                        <td mat-cell *matCellDef="let el">{{el.publicName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="createdOn">
                        <th mat-header-cell *matHeaderCellDef>Created On </th>
                        <td mat-cell *matCellDef="let el">
                            {{el.createdOn | date:'HH:mm:ss, MMM&nbsp;d,&nbsp;yyyy'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="bts">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let el">
                            <ng-container *ngIf="!dispatcherAssetModeService.isReplicated(accountsResult.assetMode)">
                                <ct-flex justify-content="flex-end" gap="9px">
                                    <ct-flex-item>
                                        <button mat-flat-button size="forTableRow"
                                            [routerLink]="['/dispatcher/accounts/edit/',el.id]" color="primary">
                                            Edit</button>
                                    </ct-flex-item>
                                    <!-- issue-1249 -->
                                    <!-- <ct-flex-item>
                                        <button mat-flat-button size="forTableRow"
                                            [routerLink]="['/dispatcher/accounts/access/',el.id]" color="primary">
                                            Access</button>
                                    </ct-flex-item> -->
                                    <ct-flex-item>
                                        <button mat-flat-button size="forTableRow"
                                            [routerLink]="['/dispatcher/accounts/edit-password/',el.id]"
                                            color="primary">
                                            Change Password</button>
                                    </ct-flex-item>
                                </ct-flex>
                            </ng-container>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"> </tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"> </tr>
                </table>
            </ct-table>
        </ct-section-body-row>
    </ct-section-body>

    <ct-section-footer>
        <ct-section-footer-row>
            <ct-flex justify-content="space-between">
                <ct-flex-item>
                    <ct-flex justify-content="flex-start" gap="8px">
                        <ct-table-pagination 
                            [pageableDefault]="accountsResult.accounts" 
                            [globalDisable]="isLoading"
                            (next)="nextPage()" 
                            (prev)="prevPage()">
                        </ct-table-pagination>
                    </ct-flex>
                </ct-flex-item>

                <ng-container *ngIf="!dispatcherAssetModeService.isReplicated(accountsResult.assetMode)">
                    <ct-flex-item>
                        <button mat-flat-button 
                            color="primary" 
                            wide="wide" 
                            [disabled]="isLoading"
                            routerLink="/dispatcher/accounts/add/">
                                Add New Account 
                        </button>
                    </ct-flex-item>
                </ng-container>
            </ct-flex>
        </ct-section-footer-row>
    </ct-section-footer>
</ct-section>