<ct-section>
    <ct-section-header>
        <ct-section-header-row>
            <ct-heading>
                Accounts
            </ct-heading>
        </ct-section-header-row>
    </ct-section-header>
    <ct-section-body>
        <ct-section-body-row>
            <ct-table #table>
                <table class="mat-table" mat-table="mat-table" [dataSource]="dataSource">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef>ID </th>
                        <td mat-cell="mat-cell" *matCellDef="let el">{{el.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="isEnabled">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef>Is enabled </th>
                        <td mat-cell="mat-cell" *matCellDef="let el">{{el.enabled ? 'Yes':'No'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="login">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef>Login </th>
                        <td mat-cell="mat-cell" *matCellDef="let el">{{el.username}} </td>
                    </ng-container>
                    <ng-container matColumnDef="publicName">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef>Public name </th>
                        <td mat-cell="mat-cell" *matCellDef="let el">{{el.publicName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="createdOn">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef>Created On </th>
                        <td mat-cell="mat-cell" *matCellDef="let el">
                            {{el.createdOn | date:'HH:mm:ss, MMM&nbsp;d,&nbsp;yyyy'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="bts">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef> </th>
                        <td mat-cell="mat-cell" *matCellDef="let el">
                            <ct-flex justify-content="flex-end" gap="9px">
                                <ct-flex-item>
                                    <button mat-flat-button="mat-flat-button" size="forTableRow"
                                        [routerLink]="['/dispatcher/accounts/edit/',el.id]" color="primary">
                                        Edit</button>
                                </ct-flex-item>
                                <ct-flex-item>
                                    <button mat-flat-button="mat-flat-button" size="forTableRow"
                                        [routerLink]="['/dispatcher/accounts/access/',el.id]" color="primary">
                                        Access</button>
                                </ct-flex-item>
                                <ct-flex-item>
                                    <button mat-flat-button="mat-flat-button" size="forTableRow"
                                        [routerLink]="['/dispatcher/accounts/edit-password/',el.id]" color="primary">
                                        Change Password</button>
                                </ct-flex-item>
                            </ct-flex>
                        </td>
                    </ng-container>
                    <tr mat-header-row="mat-header-row" *matHeaderRowDef="columnsToDisplay"> </tr>
                    <tr mat-row="mat-row" *matRowDef="let row; columns: columnsToDisplay;"> </tr>
                </table>
            </ct-table>
        </ct-section-body-row>
        <ct-section-body-row *ngIf="currentStates.has(states.firstLoading)">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ct-section-body-row>
    </ct-section-body>
    <ct-section-footer>
        <ct-section-footer-row>
            <ct-flex justify-content="space-between">
                <ct-flex-item>
                    <ct-flex justify-content="flex-start" gap="8px">
                        <ct-flex-item>
                            <button mat-flat-button="mat-flat-button" color="primary" #prevTable (click)="prev()"
                                disabled="disabled">
                                <mat-icon>arrow_back_ios</mat-icon>
                            </button>
                        </ct-flex-item>
                        <ct-flex-item>
                            <button mat-flat-button="mat-flat-button" color="primary" #nextTable (click)="next()"
                                disabled="disabled">
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                        </ct-flex-item>
                    </ct-flex>
                </ct-flex-item>
                <ct-flex-item>
                    <button mat-flat-button="mat-flat-button" color="primary" wide="wide"
                        [disabled]="currentStates.has(states.loading) || currentStates.has(states.firstLoading)"
                        routerLink="/dispatcher/accounts/add/">Add New Account </button>
                </ct-flex-item>
            </ct-flex>
        </ct-section-footer-row>
    </ct-section-footer>
</ct-section>