<!--
TODO p0 2023-05-20 implement

<h1 class="widget-header">Create global variable with value</h1>

<form class="pure-form" action="#" method="post" enctype="multipart/form-data" th:method="POST"
      th:action="@{/dispatcher/global-variable/global-variable-with-value}">
    <fieldset>
        <label for="variable1">Variable</label>
        <input name="variable" id="variable1" type="text" placeholder="name of variable" size="100">
        <span class="pure-form-message">This is a required field.</span>
    </fieldset>
    <fieldset>
        <label for="value">Value</label>
        <textarea name="value" id="value" placeholder="value of variable" cols="100" rows="5" maxlength="1000"></textarea>
        <span class="pure-form-message">This is a required field. Max 1000 chars</span>
    </fieldset>

    <p></p>
    <button type="submit" class="pure-button pure-button-primary">Create global variable</button>
</form>
-->

<ct-section>
    <ct-section-header>
        <ct-section-header-row>
            <ct-heading>Create global variable from file</ct-heading>
        </ct-section-header-row>
    </ct-section-header>
    <ct-section-body>
        <form [formGroup]="form" novalidate="novalidate">
            <ct-section-body-row>
                <ct-file-upload #fileUpload></ct-file-upload>
                <div class="mat-form-field mat-form-field-appearance-outline" style="width:100%">
                    <div class="mat-form-field-subscript-wrapper">
                        <mat-hint>This is a required field.</mat-hint>
                    </div>
                </div>
            </ct-section-body-row>
            <ct-section-body-row>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Variable</mat-label>
                    <input autocomplete="off" matInput="matInput" formControlName="poolCode" />
                    <mat-hint>This is a required field.</mat-hint>
                </mat-form-field>
            </ct-section-body-row>
        </form>
    </ct-section-body>
    <ct-section-footer>
        <ct-section-footer-row>
            <ct-flex justify-content="flex-end" gap="8px">
                <ct-flex-item>
                    <button mat-stroked-button (click)="cancel()">Cancel</button>
                </ct-flex-item>
                <ct-flex-item>
                    <button mat-flat-button="mat-flat-button" (click)="upload()" color="primary"
                        [disabled]="checkDisable()">Create</button>
                </ct-flex-item>
            </ct-flex>
        </ct-section-footer-row>
    </ct-section-footer>
</ct-section>