<ct-cols>
    <ct-col size="6">
        <ct-section>
            <ct-section-header>
                <ct-section-header-row>
                    <ct-heading>Add Function</ct-heading>
                </ct-section-header-row>
            </ct-section-header>
            <ct-section-body>
                <ct-section-body-row>
                    <ct-file-upload #fileUpload></ct-file-upload>
                </ct-section-body-row>
            </ct-section-body>
            <ct-section-footer>
                <ct-section-footer-row>
                    <ct-flex justify-content="flex-end" gap="8px">
                        <ct-flex-item>
                            <button mat-stroked-button="mat-stroked-button" (click)="cancel()">Cancel </button>
                        </ct-flex-item>
                        <ct-flex-item>
                            <button mat-flat-button="mat-flat-button" (click)="upload()" color="primary"
                                [disabled]="!fileUpload?.fileInput?.nativeElement?.files?.length">Upload
                                function</button>
                        </ct-flex-item>
                    </ct-flex>
                </ct-section-footer-row>
            </ct-section-footer>
        </ct-section>
    </ct-col>
    <ct-col size="6" *ngIf="response">
        <ct-rest-status [content]="response"></ct-rest-status>
    </ct-col>
</ct-cols>