<ct-section *ngIf="!response">
    <ct-section-body>
        <ct-section-body-row>
            <ct-section-content>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </ct-section-content>
        </ct-section-body-row>
    </ct-section-body>
</ct-section>

<ct-cols *ngIf="response">
    <ct-col size="6">
        <ct-section>
            <ct-section-header>
                <ct-section-header-row>
                    <ct-heading>{{ 'batch-add.Upload file for processing' | translate }}</ct-heading>
                </ct-section-header-row>
            </ct-section-header>
            <ct-section-body>
                <ct-section-body-row>
                    <mat-form-field appearance="outline">
                        <mat-label> {{ 'batch-add.List of Source Codes' | translate }}</mat-label>
                        <mat-select [(ngModel)]="sourceCode">
                            <div *ngFor="let sourceCode of listOfSourceCodes">
                                <mat-option [value]="sourceCode">{{sourceCode.uid}}</mat-option>
                            </div>
                        </mat-select>
                        <mat-hint>{{ 'batch-add.This is a required field.' | translate }}</mat-hint>
                    </mat-form-field>

                    <br>
                    <br>

                    <div>
                        <ct-file-upload #fileUpload acceptTypes=".zip, .xml"
                            buttonTitle="{{'batch-add.Select File' | translate}}" (changed)="fileUploadChanged()">
                        </ct-file-upload>
                        <ct-hint>{{ 'batch-add.This is a required field.' | translate }}</ct-hint>
                        <ct-hint>{{ 'batch-add.Only .xml and .zip files are supported' | translate }}</ct-hint>
                    </div>
                </ct-section-body-row>
            </ct-section-body>
            <ct-section-footer>
                <ct-section-footer-row>
                    <ct-flex justify-content="flex-end" gap="8px">
                        <ct-flex-item>
                            <button mat-stroked-button="mat-stroked-button" (click)="back()">
                                {{ 'batch-add.Cancel' | translate }}</button>
                        </ct-flex-item>
                        <ct-flex-item>
                            <button mat-flat-button="mat-flat-button" color="primary" [disabled]="!sourceCode || !file"
                                (click)="upload()"> {{ 'batch-add.Upload File' | translate }}</button>
                        </ct-flex-item>
                    </ct-flex>
                </ct-section-footer-row>
            </ct-section-footer>
        </ct-section>
    </ct-col>
    <ct-col size="6">
        <ct-rest-status [content]="uploadResponse"></ct-rest-status>
    </ct-col>
</ct-cols>