@if (response()) {
  <ct-cols>
    <ct-col size="6">
      <ct-section>
        <ct-section-header>
          <ct-section-header-row>
            <ct-heading><app-translate key="batch-add.Upload file for processing"/></ct-heading>
          </ct-section-header-row>
        </ct-section-header>
        <ct-section-body>
          <ct-section-body-row>
            <mat-form-field appearance="outline">
<!--              <mat-label><app-translate key="batch-add.List of Source Codes"/></mat-label>-->
                <mat-label>{{ tr.translate('batch-add.List of Source Codes') }}</mat-label>
              <mat-select [ngModel]="sourceCode()" (ngModelChange)="sourceCode.set($event)">
                @for (sourceCode of listOfSourceCodes(); track sourceCode) {
                  <div>
                    <mat-option [value]="sourceCode">{{sourceCode.uid}}</mat-option>
                  </div>
                }
              </mat-select>
              <mat-hint><app-translate key="batch-add.This is a required field."/></mat-hint>
            </mat-form-field>
            <br>
              <br>
                <div>
                  <ct-file-upload #fileUpload acceptTypes=".zip, .xml"
                    buttonTitle="Select File" (changed)="fileUploadChanged()">
                  </ct-file-upload>
                  <ct-hint><app-translate key="batch-add.This is a required field."/></ct-hint>
                  <ct-hint><app-translate key="batch-add.Only .xml and .zip files are supported"/></ct-hint>
                </div>
              </ct-section-body-row>
            </ct-section-body>
            <ct-section-footer>
              <ct-section-footer-row>
                <div class="flex justify-content-flex-end gap-8px">
                  <button mat-stroked-button="mat-stroked-button" (click)="back()">
                  <app-translate key="batch-add.Cancel"/></button>

                  <button mat-flat-button="mat-flat-button" color="primary" [disabled]="isUploadDisabled()"
                  (click)="upload()"><app-translate key="batch-add.Upload-File-button"/></button>
<!--
                  <button mat-flat-button="mat-flat-button" color="primary" [disabled]="!sourceCode() || !file()"
                  (click)="upload()"> {{ 'batch-add.Upload-File-button' | translate }}</button>
-->
                </div>
              </ct-section-footer-row>
            </ct-section-footer>
          </ct-section>
        </ct-col>
        <ct-col size="6">
          <ct-rest-status [content]="uploadResponse()"></ct-rest-status>
        </ct-col>
      </ct-cols>
    }