
<ct-cols align-items="baseline">
  <ct-col size="6">
    <ct-section>
      <ct-section-header>
        <ct-section-header-row>
          <ct-heading>Add new authentication of APIs</ct-heading>
        </ct-section-header-row>
      </ct-section-header>
      <ct-section-body>
        <form [formGroup]="form" novalidate="novalidate">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Code</mat-label>
            <input matInput="matInput" type="text" autocomplete="off" formControlName="code" />
            <mat-hint>This is a required field.</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Auth parameters</mat-label>
            <textarea formControlName="params" matInput="matInput" cdkTextareaAutosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="10" value="" autocomplete="off"></textarea>
            <mat-hint>This is a required field.</mat-hint>
          </mat-form-field>
        </form>
      </ct-section-body>

      <ct-section-footer>
        <ct-section-footer-row>
          <div class="flex justify-content-flex-end gap-8px">
            <button mat-stroked-button="mat-stroked-button" routerLink="/mhbp/auth">
              {{ 'main.Cancel' | translate }}</button>
            <button #button mat-flat-button="mat-flat-button" (click)="create()" color="primary"
                    [disabled]="!form.valid">Add</button>
          </div>
        </ct-section-footer-row>
      </ct-section-footer>
    </ct-section>
  </ct-col>
</ct-cols>

