
<ct-section>
  <form action="" [formGroup]="form" novalidate="novalidate" autocomplete="off">
    <ct-section-header>
      <ct-section-header-row>
        <ct-heading>Sign In</ct-heading>
      </ct-section-header-row>
    </ct-section-header>
    <ct-section-body>
      <div *ngIf="isStandalone()">
        <ct-section-body-row>
          <ct-section-content>
             For standalone installation, like from Steam, default username and password are qqq:123
          </ct-section-content>
        </ct-section-body-row>
      </div>
      <ct-section-body-row>
        <ct-section-content>
          <mat-form-field appearance="outline" style=" margin-bottom: -1.34375em">
            <mat-label>Username</mat-label>
            <input matInput="matInput" formControlName="username" autocomplete="off"/>
          </mat-form-field>
        </ct-section-content>
      </ct-section-body-row>
      <ct-section-body-row>
        <ct-section-content>
          <mat-form-field appearance="outline" style=" margin-bottom: -1.34375em">
            <mat-label>Password</mat-label>
            <input matInput="matInput" type="password" autocomplete="off" formControlName="password"/>
          </mat-form-field>
        </ct-section-content>
      </ct-section-body-row>
    </ct-section-body>
    <ct-section-footer>
      <ct-section-footer-row>
        <div class="flex justify-content-space-between gap-8px align-items-center">
          <button class="mat-flat-button" mat-button="" (click)="login()" color="primary" title="">Sign In</button>
        </div>
      </ct-section-footer-row>
    </ct-section-footer>
  </form>
</ct-section>