ct-section
    form(action="" '[formGroup]'="form" novalidate autocomplete="off")

        ct-section-header
            ct-section-header-row
                ct-heading Sign In
        ct-section-body
                ct-section-body-row
                    ct-section-content
                        mat-form-field(appearance="outline" style=" margin-bottom: -1.34375em")
                            mat-label Name
                            input(matInput formControlName="username" autocomplete="off")
                ct-section-body-row
                    ct-section-content
                        mat-form-field(appearance="outline" style=" margin-bottom: -1.34375em")
                            mat-label Password
                            input(matInput type="password" autocomplete="off" formControlName="password")

        ct-section-footer
            ct-section-footer-row
                ct-flex(justify-content="space-between" gap="8px" align-items="center")
                    ct-flex-item: button(class="mat-flat-button" mat-button="" '(click)'="login()" color="primary" title="") Sign In


