
<ct-section *ngIf="currentStates.has(states.firstLoading)">
  <ct-section-body>
    <ct-section-body-row>
      <ct-section-content>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ct-section-content>
    </ct-section-body-row>
  </ct-section-body>
</ct-section>
<ct-cols *ngIf="currentStates.has(states.show)">
  <ct-col size="6">
    <ct-section>
      <ct-section-header>
        <ct-section-header-row>
          <ct-heading>{{ 'batch-add.Upload file for processing' | translate }}</ct-heading>
        </ct-section-header-row>
      </ct-section-header>
      <ct-section-body>
        <ct-section-body-row *ngIf="currentStates.has(states.show)">
          <ct-section-content>
            <mat-form-field>
              <mat-label> {{ 'batch-add.List of Plans' | translate }}</mat-label>
              <mat-select [(ngModel)]="plan">
                <div *ngFor="let plan of listOfPlans">
                  <mat-option [value]="plan">{{plan.code}}</mat-option>
                </div>
              </mat-select>
              <mat-hint>{{ 'batch-add.This is a required field.' | translate }}</mat-hint>
            </mat-form-field>
          </ct-section-content>
        </ct-section-body-row>
        <ct-section-body-row *ngIf="currentStates.has(states.show)">
          <ct-section-content>
            <ct-file-upload #fileUpload acceptTypes=".zip, .xml" buttonTitle="{{'batch-add.Select File' | translate}}" (changed)="fileUploadChanged()"></ct-file-upload>
            <ct-hint>{{ 'batch-add.This is a required field.' | translate }}</ct-hint>
            <ct-hint>{{ 'batch-add.Only .xml and .zip files are supported' | translate }}</ct-hint>
          </ct-section-content>
        </ct-section-body-row>
      </ct-section-body>
      <ct-section-footer>
        <ct-section-footer-row>
          <ct-flex justify-content="flex-end" gap="8px">
            <ct-flex-item>
              <button mat-stroked-button="mat-stroked-button" (click)="back()"> {{ 'batch-add.Cancel' | translate }}</button>
            </ct-flex-item>
            <ct-flex-item>
              <button mat-flat-button="mat-flat-button" color="primary" [disabled]="!plan || !file" (click)="upload()"> {{ 'batch-add.Upload File' | translate }}</button>
            </ct-flex-item>
          </ct-flex>
        </ct-section-footer-row>
      </ct-section-footer>
    </ct-section>
  </ct-col>
  <ct-col size="6">
    <ct-section *ngIf="uploadResponse">
      <ct-section-body>
        <ct-section-body-row>
          <ct-section-content>
            <div>
              <div>{{ 'batch-add.STATUS' | translate }}: {{uploadResponse.status}}</div>
              <p *ngFor="let error of uploadResponse.errorMessages; index as i; trackBy: trackByFn">{{error}}</p>
              <p *ngFor="let info of uploadResponse.infoMessages; index as i; trackBy: trackByFn">{{info}}</p>
            </div>
          </ct-section-content>
        </ct-section-body-row>
      </ct-section-body>
    </ct-section>
  </ct-col>
</ct-cols>