
@use '../../../../variables' as *;

:host {
    display: block;
    margin: 0 calcUnit(2);
    margin-bottom: calcUnit(2);
    
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}