<ct-section *ngIf="globalVariablesResult">
    <ct-section-header>
        <ct-section-header-row>
            <div class="flex justify-content-space-between">
                <ct-heading>Variables</ct-heading>
                <ng-container *ngTemplateOutlet="addVariableButton"></ng-container>
            </div>
        </ct-section-header-row>
    </ct-section-header>
    <ct-section-body>
        <ct-section-body-row>
            <ct-table [isWaiting]="isLoading">
                <table class="mat-table" mat-table="mat-table" [dataSource]="dataSource">
                    <ng-container matColumnDef="id" sticky="sticky">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef>id </th>
                        <td mat-cell="mat-cell" *matCellDef="let el">{{el.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="uploadTs">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef>Upload Date </th>
                        <td mat-cell="mat-cell" *matCellDef="let el">{{el.uploadTs | date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="variable">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef>Variable</th>
                        <td mat-cell="mat-cell" *matCellDef="let el">{{el.variable}} </td>
                    </ng-container>
                    <ng-container matColumnDef="filename">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef>Filename</th>
                        <td mat-cell="mat-cell" *matCellDef="let el">{{el.filename}} </td>
                    </ng-container>
                    <ng-container matColumnDef="params">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef>Params</th>
                        <td mat-cell="mat-cell" *matCellDef="let el">
                            <ct-pre>{{el.params}}</ct-pre>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="bts" stickyEnd="stickyEnd">
                        <th mat-header-cell="mat-header-cell" *matHeaderCellDef> </th>
                        <td mat-cell="mat-cell" *matCellDef="let el">
                            <div class="flex justify-content-flex-end">
                                <button mat-flat-button="mat-flat-button" color="warn" size="forTableRow"
                                    (click)="delete(el)">
                                    <mat-icon>delete </mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row="mat-header-row" *matHeaderRowDef="columnsToDisplay;"> </tr>
                    <tr mat-row="mat-row" *matRowDef="let row; columns: columnsToDisplay;"
                        [class.deleted-table-row]="deletedRows.includes(row)"></tr>
                </table>
            </ct-table>
        </ct-section-body-row>
    </ct-section-body>
    <ct-section-footer>
        <ct-section-footer-row>
            <div class="flex justify-content-space-between">
                <ct-table-pagination (next)="nextPage()" (prev)="prevPage()"
                    [pageableDefault]="globalVariablesResult.items" [globalDisable]="isLoading">
                </ct-table-pagination>
                <ng-container *ngTemplateOutlet="addVariableButton"></ng-container>
            </div>
        </ct-section-footer-row>
    </ct-section-footer>
</ct-section>


<ng-template #addVariableButton>
    <button mat-flat-button="mat-flat-button" color="primary" routerLink="add">Create variable</button>
</ng-template>