<ct-cols>
    <ct-col size="6">
        <ct-section>
            <ct-section-header>
                <ct-section-header-row>
                    <ct-heading>New Company</ct-heading>
                </ct-section-header-row>
            </ct-section-header>
            <ct-section-body [formGroup]="form">
                <ct-section-body-row>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Name of company</mat-label>
                        <input matInput="matInput" formControlName="name" />
                        <mat-hint>This is a required field.</mat-hint>
                    </mat-form-field>
                    <br>
                    <div class="flex justify-content-flex-end gap-unit-1">
                        <a mat-stroked-button [routerLink]="['../companies']">Cancel</a>
                        <button mat-flat-button color="primary" (click)="createCompany()"
                            [disabled]="form.invalid">Create
                            Company</button>
                    </div>
                </ct-section-body-row>
            </ct-section-body>
        </ct-section>
    </ct-col>
    <ct-col size="6">
        <ct-rest-status [content]="operationStatusRest"></ct-rest-status>
    </ct-col>
</ct-cols>