@use 'sass:math';
@use "../ct" as *;

:host {
    display: block;
    padding: math.unit(1.5) math.unit(1.75) math.unit(1.25);
    line-height: 1.2;
    border-radius: math.unit(0.5);
}

:host[theme="info"] {
    background-color: rgba(0, 128, 255, 0.1);
}

:host[theme="warning"] {
    background-color: rgba(255, 128, 0, 0.3);
}

:host[theme="danger"] {
    background-color: rgba(255, 0, 0, 0.5);
}

:host[theme="success"] {
    background-color: rgba(128, 255, 0, 0.3);
}
