<ct-cols>
    <ct-col size="6">
        <ct-section>
            <ct-section-header>
                <ct-section-header-row>
                    <ct-heading>{{ 'evaluation-add.Create a new evaluation for specific API' | translate }}</ct-heading>
                </ct-section-header-row>
            </ct-section-header>
            <ct-section-body>
                <ct-section-body-row>
                    <form [formGroup]="form" novalidate="novalidate">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>{{ 'main.Name' | translate }}</mat-label>
                            <input matInput="matInput" type="text" autocomplete="off" formControlName="name" />
                            <mat-hint>{{ 'main.Name' | translate }}</mat-hint>
                        </mat-form-field>
                        <br>
                        <br>
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>{{ 'main.Description' | translate }}</mat-label>
                            <input matInput="matInput" type="text" autocomplete="off" formControlName="description" />
                            <mat-hint>{{ 'main.Description' | translate }}</mat-hint>
                        </mat-form-field>
                    </form>
                </ct-section-body-row>
            </ct-section-body>

            <ct-section-footer>
                <ct-section-footer-row>
                    <div class="flex justify-content-flex-end gap-8px">
                        <button mat-stroked-button="mat-stroked-button"
                                [routerLink]="['../..', scenarioGroupId, 'scenarios']">
                            {{ 'main.Cancel' | translate }}</button>
                        <button mat-flat-button="mat-flat-button" color="primary" [disabled]="notToCreate()"
                            (click)="create()"> {{ 'evaluation-add.Create' | translate }}</button>
                    </div>
                </ct-section-footer-row>
            </ct-section-footer>
        </ct-section>
    </ct-col>
</ct-cols>